/* 
* @Author: Marte
* @Date:   2016-08-05 16:56:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-08-08 16:25:24
*/
/*找回密码*/
.pRet_outer {width:977px;margin:0 auto;height:660px;padding-top:40px;padding-left:253px;}
.pRet_con{width:936px;}
.pRet_conTit{width:734px;height:27px;border-bottom: 1px solid #ebebeb;}
.pRet_conTit_right{float:right;font-size: 14px;color:#3077b9;margin-left:30px;height:27px;line-height: 27px;}
.pRet_conTit_left{display:inline-block;height:27px;padding-left:9px;width:90px;color:#474747;font-size: 18px;}
.pRet_conTit_icon{margin-left:2px;width:3px;height:20px;color:#169bd4;display:inline-block;vertical-align: sub;}
.pRet_conList{height:30px;width:936px;line-height: 30px;margin-bottom: 20px;}
.pRet_conList_left{width:280px;line-height: 30px;color:#333;text-align:right;display:inline-block;}
.pRet_conList_right{width:232px;height:28px;border:1px solid #dbdbdb;line-height: 28px;}
.img_code{display:inline-block;width:78px;height:30px;line-height: 30px;vertical-align: middle;margin-left:14px;}
.send_code{width:90px;height:30px;line-height: 30px; border:1px solid #dbdbdb;text-align: center;color:#333;background:#f5f5f5;margin-left:8px;cursor:pointer;}
.pRet_conList_submit{width:95px;height:30px;background:#169bd4;color:#fff;border:none;border-radius:4px;line-height: 30px;cursor:pointer;}
.pRet_prompt{padding-left:180px;padding-top:10px;width:390px;}
.pRet_prompt p{line-height: 20px;font-size: 13px;color:#3077b9;}

/*注册1*/
.register1{width:988px;margin:0 auto;height:675px;padding-top:25px;padding-left:242px;}
.register1_outer{width:910px;}
.register1_top{height:20px;font-size: 14px;text-align: right;color:#999;}
.register1_top_login{color:#4c89c2;}
.register1_step{width:748px;height:76px;background:url('images/register1_step.png') no-repeat left top;padding-top:36px;}
.register1_step span{font-size: 14px;color:#474747;display:inline-block;width:246px;text-align: center;}
.register1_list{height:30px;line-height: 30px;font-size: 14px;color:#333;margin-bottom: 18px;}
.register1_list_left{display:inline-block;width:292px;line-height: 30px;text-align: right;margin-right:10px;}
.register1_red{color:#ff4141;}
.register1_list_right{width:227px;height:28px;line-height:28px;border:1px solid #dbdbdb;padding-left:5px;}
.register1_list_btn{width:120px;height:30px;line-height: 30px;border:none;border-radius:5px;background:#ff9935;font-size: 14px;color:#fff;cursor:pointer;text-align: center;}
.register1_sendCode{width:93px;height:30px;border:1px solid #dbdbdb;color:#333;text-align: center;line-height: 30px;margin-left:8px;background:#f5f5f5;cursor:pointer;}
.register1_imgCode{display:inline-block;width:78px;height:30px;line-height: 30px;vertical-align: middle;margin-left:13px;}
/*注册2*/
.register2{width:988px;margin:0 auto;height:675px;padding-top:25px;padding-left:242px;}
.register2_outer{width:910px;}
.register2_top{height:20px;font-size: 14px;text-align: right;color:#999;}
.register2_top_login{color:#4c89c2;}
.register2_step{width:748px;height:76px;background:url('images/register2_step.png') no-repeat left top;padding-top:36px;}
.register2_step span{font-size: 14px;color:#474747;display:inline-block;width:246px;text-align: center;}
.register2_list{height:30px;line-height: 30px;font-size: 14px;color:#333;margin-bottom: 18px;}
.register2_list_left{display:inline-block;width:292px;line-height: 30px;text-align: right;margin-right:10px;}
.register2_red{color:#ff4141;}
.register2_list_right{width:227px;height:28px;line-height: 28px; border:1px solid #dbdbdb;padding-left:5px;}
.register2_list_btn{width:120px;height:30px;line-height: 30px;border:none;border-radius:5px;background:#ff9935;font-size: 14px;color:#fff;cursor:pointer;text-align: center;}
.register2_sendCode{width:93px;height:30px;border:1px solid #dbdbdb;color:#333;text-align: center;line-height: 30px;margin-left:8px;background:#f5f5f5;cursor:pointer;}
.register2_imgCode{display:inline-block;width:78px;height:30px;line-height: 30px;vertical-align: middle;margin-left:13px;}
.register2_read{display:inline-block;width:400px;line-height: 30px;font-size: 13px;}
.register2_agreenment{color:#3077b9;}

/*注册成功*/
.registerStep3{width:876px;height:570px;margin:0 auto;padding-top:130px;padding-left:354px;}
.registerStep3_con{width:460px;height:90px;background:url('images/registerStep3_img.png') no-repeat left center;padding-left:114px;}
.registerStep3_tit{font-size: 22px;color:#333;height:46px;padding-top:12px;}
.registerStep3_jump{color:#666;font-size: 14px;}
.registerStep3_land{color:#4c89c2;font-size: 14px;}
/*更换手机*/
.changeP{width:978px;margin:0 auto;padding-left:252px;padding-top:42px;height:658px;}
.changeP_outer{width:735px;}
.changeP_tit{width:726px;height:16px;padding-top:58px;background:url('images/changeP1_img01.png') no-repeat center top;color:#474747;font-size: 14px;margin-bottom: 46px;}
.changeP_step1{color:#fb6c1c;padding-left:9px;}
.changeP_step2{padding-left:266px;}
.changeP_step3{padding-left:284px;}
.changeP_conTit{width:735px;height:27px;border-bottom: 1px solid #ebebeb;font-size: 18px;color:#474747;}
.changeP_conTit_left{width:3px;height:20px;display:inline-block;margin-left:4px;margin-right:5px;vertical-align: sub;}
.changeP_prompt{padding-left:18px;height:34px;margin-bottom: 34px;}
.changeP_prompt_con{background:url('images/changeP_img03.png') no-repeat left center;height:34px;line-height: 34px;padding-left:22px;font-size: 14px;color:#999;}
.changeP_list{font-size: 14px;color:#333;width:735px;margin-bottom: 18px;}
.changeP_list_left{display:inline-block;width:282px;height:30px;line-height:30px;text-align: right;margin-right:12px;}
.changeP_list_right{width:270px;height:30px;line-height: 30px;display:inline-block;}
.changeP_left_rightCon{width:130px;height:28px;line-height:28px;border:1px solid #dbdbdb;margin-right:8px;}
.changeP_sendCode{width:93px;height:30px;line-height: 30px;color:#333;font-size: 14px;text-align: center;border:1px solid #dbdbdb;background:#f5f5f5;cursor:pointer;}
.changeP_btn{width:95px;height:30px;line-height: 30px;color:#fff;border:none;background:#169bd4;border-radius:5px;text-align: center;cursor:pointer;}
/*更换手机2*/
.changeP2{width:978px;margin:0 auto;padding-left:252px;padding-top:42px;height:658px;}
.changeP2_outer{width:735px;}
.changeP2_tit{width:726px;height:16px;padding-top:58px;background:url('images/changeP2_img01.png') no-repeat center top;color:#474747;font-size: 14px;margin-bottom: 46px;}
.changeP2_step1{color:#fb6c1c;padding-left:9px;}
.changeP2_step2{padding-left:266px;}
.changeP2_step3{padding-left:284px;}
.changeP2_conTit{width:735px;height:27px;border-bottom: 1px solid #ebebeb;font-size: 18px;color:#474747;}
.changeP2_conTit_left{width:3px;height:20px;display:inline-block;margin-left:4px;margin-right:5px;vertical-align: sub;}
.changeP2_prompt{padding-left:18px;height:34px;margin-bottom: 34px;}
.changeP2_prompt_con{background:url('images/changeP_img03.png') no-repeat left center;height:34px;line-height: 34px;padding-left:22px;font-size: 14px;color:#999;}
.changeP2_list{font-size: 14px;color:#333;width:735px;margin-bottom: 18px;}
.changeP2_list_left{display:inline-block;width:282px;height:30px;line-height:30px;text-align: right;margin-right:12px;}
.changeP2_list_right{width:270px;height:30px;line-height: 30px;display:inline-block;}
.changeP2_left_rightCon{width:130px;height:28px;line-height:28px;border:1px solid #dbdbdb;margin-right:8px;}
.changeP2_sendCode{width:93px;height:30px;line-height: 30px;color:#333;font-size: 14px;text-align: center;border:1px solid #dbdbdb;background:#f5f5f5;cursor:pointer;}
.changeP2_btn{width:95px;height:30px;line-height: 30px;color:#fff;border:none;background:#169bd4;border-radius:5px;text-align: center;cursor:pointer;}
.changeP2_newNum{width:130px;height:28px;border:1px solid #dbdbdb;line-height: 28px;}
.changeP2_description{padding-left:202px;}
.changeP2_description p{color:#3077b9;font-size: 13px;height:20px;}
/*更换邮箱*/
.changeE{width:978px;margin:0 auto;height:658px;padding-top:42px;padding-left:252px;}
.changeE_outer{width:735px;}
.changeE_tit{width:726px;height:16px;padding-top:58px;background:url('images/changeP1_img01.png') no-repeat center top;color:#474747;font-size: 14px;margin-bottom: 46px;}
.changeE_step1{color:#fb6c1c;padding-left:9px;}
.changeE_step2{padding-left:266px;}
.changeE_step3{padding-left:284px;}
.changeE_conTit{width:735px;height:27px;border-bottom: 1px solid #ebebeb;font-size: 18px;color:#474747;}
.changeE_conTit_left{width:3px;height:20px;display:inline-block;margin-left:4px;margin-right:5px;vertical-align: sub;}
.changeE_prompt{padding-left:18px;height:34px;margin-bottom: 34px;}
.changeE_prompt_con{background:url('images/changeP_img03.png') no-repeat left center;height:34px;line-height: 34px;padding-left:22px;font-size: 14px;color:#999;}
.changeE_list{font-size: 14px;color:#333;width:735px;margin-bottom: 18px;}
.changeE_list_left{display:inline-block;width:282px;height:30px;line-height:30px;text-align: right;margin-right:12px;}
.changeE_list_right{width:270px;height:30px;line-height: 30px;display:inline-block;}
.changeE_left_rightCon{width:130px;height:28px;line-height:28px;border:1px solid #dbdbdb;margin-right:6px;}
.changeE_sendCode{width:93px;height:30px;line-height: 30px;color:#333;font-size: 14px;text-align: center;border:1px solid #dbdbdb;background:#f5f5f5;cursor:pointer;}
.changeE_btn{width:95px;height:30px;line-height: 30px;color:#fff;border:none;background:#169bd4;border-radius:5px;text-align: center;cursor:pointer;}
.changeE_newNum{width:232px;height:28px;border:1px solid #dbdbdb;line-height: 28px;}
.changeE_description{padding-left:202px;}
.changeE_description p{color:#3077b9;font-size: 13px;height:20px;}
/*更换邮箱2*/
.changeE2{width:978px;margin:0 auto;height:658px;padding-top:42px;padding-left:252px;}
.changeE2_outer{width:735px;}
.changeE2_tit{width:726px;height:16px;padding-top:58px;background:url('images/changeP2_img01.png') no-repeat center top;color:#474747;font-size: 14px;margin-bottom: 46px;}
.changeE2_step1{color:#fb6c1c;padding-left:9px;}
.changeE2_step2{padding-left:266px;}
.changeE2_step3{padding-left:284px;}
.changeE2_conTit{width:735px;height:27px;border-bottom: 1px solid #ebebeb;font-size: 18px;color:#474747;}
.changeE2_conTit_left{width:3px;height:20px;display:inline-block;margin-left:4px;margin-right:5px;vertical-align: sub;}
.changeE2_prompt{padding-left:18px;height:34px;margin-bottom: 34px;}
.changeE2_prompt_con{background:url('images/changeP_img03.png') no-repeat left center;height:34px;line-height: 34px;padding-left:22px;font-size: 14px;color:#999;}
.changeE2_list{font-size: 14px;color:#333;width:735px;margin-bottom: 18px;}
.changeE2_list_left{display:inline-block;width:282px;height:30px;line-height:30px;text-align: right;margin-right:12px;}
.changeE2_list_right{width:270px;height:30px;line-height: 30px;display:inline-block;}
.changeE2_left_rightCon{width:130px;height:28px;line-height:28px;border:1px solid #dbdbdb;margin-right:6px;}
.changeE2_sendCode{width:93px;height:30px;line-height: 30px;color:#333;font-size: 14px;text-align: center;border:1px solid #dbdbdb;background:#f5f5f5;cursor:pointer;}
.changeE2_btn{width:95px;height:30px;line-height: 30px;color:#fff;border:none;background:#169bd4;border-radius:5px;text-align: center;cursor:pointer;}
.changeE2_newNum{width:232px;height:28px;border:1px solid #dbdbdb;line-height: 28px;}
.changeE2_description{padding-left:202px;}
.changeE2_description p{color:#3077b9;font-size: 13px;height:20px;}
input.border-focus{
	border:1px solid red;
}
div.selbox{
	border:1px solid #e5e5e5;width:225px;margin-left:305px;z-index: 1;position: absolute;background:#fff;height: auto;padding-left:8px;display:none;	
}
ul li:hover{
	cursor: default;background: #e9e7e7
}